<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/persons">Person</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/roles">Role</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="container p-5">
  <h2>Create Role Form</h2>
  <form th:object="${role}" method="post">
    <div class="form-group">
      <label>Enter New Role:</label>
      <input type="text" th:field="*{role}" class="form-control" id="role" placeholder="Role Title (Example: Software Engineer)" name="role">
      <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Role Error</span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
</body>
</html>