<!DOCTYPE html>
<html lang="en">
<head>
  <title>Spring Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Person</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Role</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container">
  <div class="float-right p-5">
    <button type="submit" class="btn btn-primary">Add Role</button>
  </div>
</div>
<div th:switch="${roles}">
    <h2 th:case="null">No roles yet!</h2>
        <div th:case="*">
            <h2>Roles</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Role</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="role : ${roles}">
                    <td th:text="${role.id}"></td>
                    <td th:text="${role.role}"></td>
                    <td><a th:href="@{/roles/edit/{id}(id=${role.id})}">Edit</a></td>
                    <td><a th:href="@{/roles/delete/{id}(id=${role.id})}">Delete</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Add a new user</a></p>
</div>
</body>
</html>