<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<!-- Database properties -->
		<property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/mydb</property>
		<property name="hibernate.connection.username">myuser</property>
		<property name="hibernate.connection.password">password</property>
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="net.sf.ehcache.configurationResourceName">ehcache.xml</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		
		<!-- Print executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Update database on startup -->
		<!-- <property name="hibernate.hbm2ddl.auto">create</property> -->

		<!-- List of XML mapping files -->
		<mapping class="com.ecc.exercises.springexercise.model.Person"/>
		<mapping class="com.ecc.exercises.springexercise.model.Contact"/>
		<mapping class="com.ecc.exercises.springexercise.model.ContactType"/>
		<mapping class="com.ecc.exercises.springexercise.model.Role"/>
	</session-factory>
</hibernate-configuration>