<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Person</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Role</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container p-5">
  <h2>Create Person Form</h2>
  <form th:object="${person}" method="post">
    <div class="form-group">
      <label for="name">Enter Name:</label>
      <div class="row">
        <div class="col-sm-3">
          <input type="text" th:field="*{name.lastName}" class="form-control" id="lastName" placeholder="Last Name" name="lastName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{name.firstName}" class="form-control" id="firstName" placeholder="First Name" name="firstName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{name.middleName}" class="form-control" id="middleName" placeholder="Middle Name" name="middleName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{name.suffix}" class="form-control" id="suffix" placeholder="Suffix" name="suffix">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="name">Enter Address:</label>
      <div class="row">
        <div class="col-sm-3">
          <input type="text" th:field="*{address.street}" class="form-control" id="street" placeholder="Street" name="lastName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{address.barangay}" class="form-control" id="barangay" placeholder="Barangay" name="firstName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{address.municipality}" class="form-control" id="municipality" placeholder="Municipality" name="middleName" required>
        </div>
        <div class="col-sm-3">
        <input type="text" th:field="*{address.zipCode}" class="form-control" id="zipCode" placeholder="Zip Code" name="suffix" required>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <label for="currentlyEmployed">Currently Employed:</label>
        <select th:field="*{currentlyEmployed}" class="form-control" id="currentlyEmployed">
          <option value="" selected disabled>Select your option</option>
          <option th:value="true">True</option>
          <option th:value="false">False</option>
        </select>
      </div>
      <div class="form-group col-sm-6">
        <label for="gwa">General Weighted Average:</label>
        <input type="number" th:field="*{gwa}" class="form-control" id="gwa" placeholder="Enter numbers only" name="gwa" step="any">
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
</body>
</html>