<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Person</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Role</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div th:object="${person}" class="p-5 container">   
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Person Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>ID</td>
          <td th:text="${person.id}"></td>
        </tr>
        <tr>
          <td>Name</td>
          <td th:text="${person.name}"></td>
        </tr>
        <tr>
          <td>Address</td>
          <td th:text="${person.address}"></td>
        </tr>
        <tr>
          <td>Date of Birth</td>
          <td th:text="${person.dateOfBirth}"></td>
        </tr>
        <tr>
          <td>Date Hired</td>
          <td th:text="${person.dateHired}"></td>
        </tr>
        <tr>
          <td>GWA</td>
          <td th:text="${person.gwa}"></td>
        </tr>
        <tr>
          <td>Currently Employed</td>
          <td th:text="${person.currentlyEmployed}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <p><a th:href="@{/persons/__${person.id}__/update-person}">Update</a></p>
  </div>      
</div>

</body>
</html>