<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Spring Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/persons">Person</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/roles">Role</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div th:switch="${persons}" class="p-5">
  <div><p><a th:href="@{/persons/create-person}" class="btn btn-primary">Add Person</a></p></div>   
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Date Of Birth</th>
          <th>GWA</th>
          <th>Date Hired</th>
          <th>Currently Employed</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="person : ${persons}">
          <td th:text="${person.id}"></td>
          <td th:text="${person.name}"></td>
          <td th:text="${person.address}"></td>
          <td th:text="${person.dateOfBirth}"></td>
          <td th:text="${person.gwa}"></td>
          <td th:text="${person.dateHired}"></td>
          <td th:text="${person.currentlyEmployed}"></td>
          <td><a th:href="@{/persons/__${person.id}__/person-information}">View</a></td>
        </tr>
      </tbody>
    </table>
  </div> 
</div>
</body>
</html>